<%- include("partilas/header") -%>
<header>
  <title>About Me</title>
</header>
<body>
<a href="/">
  <img class="logo animate__animated animate__fadeInDown" src="css/logo.svg" alt="">
</a>
  <h2 class="text-container">About Me:</h2>
  <p class="text-container animate__fadeInUp animate__animated animate__delay-2s">Lorem ipsum dolor sit amet, massa est metus curabitur, arcu tristique porttitor varius luctus nibh tincidunt, orci turpis in sit arcu vestibulum pharetra, risus at enim eos odio sed nulla, mi tempus metus rhoncus non. Integer ultrices a vel sociosqu, wisi duis fringilla velit, quisque mauris ante vitae non. Risus sapien ante et, pellentesque dolor libero in maecenas mauris. Felis nulla pede consectetuer enim in quis, faucibus curabitur orci nulla et, eget mollis luctus, in dolor, vitae nostra nec hendrerit tortor volutpat. Nonummy dui. Sit velit pellentesque magna sem fermentum. At urna donec, at id, ultrices eu pede augue vestibulum, ligula est erat eget porta vestibulum</p>


<h2 class="text-container">Programming language:</h2>
<p class=" text-contenet animate__fadeInUp animate__animated animate__delay-3s">Java</p>
<p class=" text-contenet animate__fadeInUp animate__animated animate__delay-3s ">Kotlin</p>
<p class=" text-contenet animate__fadeInUp animate__animated animate__delay-3s">javascript</p>
<p class=" text-contenet  animate__fadeInUp animate__animated animate__delay-3s">Dart</p>
<p class=" text-contenet  animate__fadeInUp animate__animated animate__delay-3s">Python</p>

<h2 class="text-container">Database:</h2>
<p class=" text-contenet animate__fadeInUp animate__animated animate__delay-3s">MySql</p>
<p class=" text-contenet animate__fadeInUp animate__animated animate__delay-3s">MongoDb</p>
<h2 class="text-container">Frameworks:</h2>
<p class=" text-contenet  animate__fadeInUp animate__animated animate__delay-4s">Flutter</p>
<p class=" text-contenet  animate__fadeInUp animate__animated animate__delay-4s">React for Web</p>
<p class=" text-contenet  animate__fadeInUp animate__animated animate__delay-4s">Nodejs</p>


</body>
