<%- include("partilas/header") -%>
<header>
  <title>Contact Me</title>
</header>
<body>
  <a href="/">
    <img class="logo animate__animated animate__fadeInDown" src="css/logo.svg" alt="">
  </a>
  <p class="text-contenet">LETS DO SOME WORK:</p>
  <a class="text-contact btn" href="mailto:mabdulla.alt@gmail.com?subject=Work request">Email Me</a>
  <a class="text-contact btn" href="tel:+249990017698">Call Me</a>
  <h2 class="center ">Or you can find me at</h2>
  <a href="#"><img class="log-contact " src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/></a>
  <a href="#"><img class="log-contact " src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
  <a href="#"><img class="log-contact " src="https://img.icons8.com/cute-clipart/48/000000/github.png"/></a>
    <img  class="contact-logo animate__animated animate__fadeInDown" src="css/logo.svg" alt="">
  </a>
</body>
