<%- include("partilas/header") -%>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <header>
      <title>Portfolio</title>
    </header>
    <meta charset="utf-8">
    <img class="cover animate__animated animate__fadeInLeft" src="css/moax.jpg"  alt="">
    <h1 class="animate__fadeInUp animate__animated ">Mohammed Abdallah</h1>
    <img  class=" dis animate__animated animate__fadeInDown" src="css/logo.svg" alt="">
    <p class="aboutText animate__fadeInUp animate__animated animate__delay-2s">Iam Mohammed you can call me moax an electronic engineer love to code and desgin and learning more you konw what to do </p>
  </head>
  <body>
    <script src="scripts/index.js" type="text/javascript"/>
  </body>
</html>
